@import "tailwindcss";
@plugin "daisyui";

.is-invalid {
    border-color: red;
 
 }
 
 .error{
     display: none;
     font-size: x-large;
     color: red;
     position: absolute;
     right: 10px;
     top: 45%;
     transform: translateY(-50%);
 }
 .error-icon{
     display: block;
 }